<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.zanan.sa"
		versionCode="1"
		version   = "1.0.0">
		<name>ال زنان</name>
		<description>تطبيق عائلة ال زنان</description>
		<author href="http://www.saad.com" email="contact@saad.com">Saad</author>
		<preference name="phonegap-version" value="cli-7.0.1" />
		<preference name='pgb-builder-version' value='2' />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="false" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="15" />
		<preference name="android-maxSdkVersion" value="26" />
		<preference name="android-targetSdkVersion" value="28" />
        <preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		<preference name="android-build-tool" value="gradle" />
    <preference name="AnimatedSplashScreenAnimationDuration" value="5" />
    <preference name="SplashScreen" value="none" />
    <preference name="AnimatedSplashScreenAnimationRepeatCount" value="0" />
    <preference name="AnimatedSplashScreenAndroidImages" value="animated0,animated1,animated2,animated3,animated4,animated5,animated6,animated7,animated8,animated9,animated10,animated11" />

		<platform name="android" />
		<feature name="http://api.phonegap.com/1.0/network"/>		
		<plugin name="cordova-plugin-inappbrowser" />
		<plugin name="cordova-plugin-network-information" />
	<plugin name="cordova-plugin-animated-splashscreen" />
		<plugin name="cordova-plugin-whitelist" />
		<plugin name="cordova-plugin-statusbar" />


	<!-- icon scape-->

	<icon src="res/icon/android/icon-36-ldpi.png" platform="android" density="ldpi" />
	    <icon src="res/icon/android/icon-48-mdpi.png" platform="android" density="mdpi" />
	   <icon src="res/icon/android/icon-72-hdpi.png" platform="android" density="hdpi" />
	    <icon src="res/icon/android/icon-96-xhdpi.png" platform="android" density="xhdpi" />
	   <icon src="res/icon/android/icon-144-xxhdpi.png" platform="android" density="xxhdpi" />
	  <icon src="res/icon/android/icon-192-xxxhdpi.png" platform="android" density="xxxhdpi" />
    <resource-file src="res/screen/android/ldpi/frame0.png" target="app/src/main/res/drawable-port-xxxhdpi/animated_splash.png" />
    <resource-file src="res/screen/android/ldpi/frame1.png" target="app/src/main/res/drawable-port-xxxhdpi/animated_splash.png" />
	<resource-file src="res/screen/android/mdpi/frame0.png" target="app/src/main/res/drawable-port-ldpi/animated_splash.png" />
	<resource-file src="res/screen/android/mdpi/frame1.png" target="app/src/main/res/drawable-port-ldpi/animated_splash.png" />
	<resource-file src="res/screen/android/hdpi/frame0.png" target="app/src/main/res/drawable-port-mdpi/animated_splash.png" />
	<resource-file src="res/screen/android/hdpi/frame1.png" target="app/src/main/res/drawable-port-mdpi/animated_splash.png" />
	<resource-file src="res/screen/android/xhdpi/frame0.png" target="app/src/main/res/drawable-port-hdpi/animated_splash.png" />
	<resource-file src="res/screen/android/xhdpi/frame1.png" target="app/src/main/res/drawable-port-hdpi/animated_splash.png" />
	<resource-file src="res/screen/android/xxhdpi/frame0.png" target="app/src/main/res/drawable-port-xhdpi/animated_splash.png" />
	<resource-file src="res/screen/android/xxhdpi/frame1.png" target="app/src/main/res/drawable-port-xhdpi/animated_splash.png" />
	<resource-file src="res/screen/android/xxxhdpi/frame0.png" target="app/src/main/res/drawable-port-xxhdpi/animated_splash.png" />
	<resource-file src="res/screen/android/xxxhdpi/frame1.png" target="app/src/main/res/drawable-port-xxhdpi/animated_splash.png" />

	<!-- port scape-->
<!--	<splash src="res/screen/android/screen-ldpi-portrait.png" platform="android" density="port-ldpi" />
		<splash src="res/screen/android/screen-mdpi-portrait.png" platform="android" density="port-mdpi" />
		<splash src="res/screen/android/screen-hdpi-portrait.png" platform="android" density="port-hdpi" />
		<splash src="res/screen/android/screen-xhdpi-portrait.png" platform="android" density="port-xhdpi" />
		<splash src="res/screen/android/screen-xxhdpi-portrait.png" platform="android" density="port-xxhdpi" />
		<splash src="res/screen/android/screen-xxxhdpi-portrait.png" platform="android" density="port-xxxhdpi" />
	--><!-- landscape-->
<!--	<splash src="res/screen/android/drawable-land-ldpi-screen.png" platform="android" density="land-ldpi" />
	<splash src="res/screen/android/drawable-land-mdpi-screen.png" platform="android" density="land-mdpi" />
	<splash src="res/screen/android/drawable-land-hdpi-screen.png" platform="android" density="land-hdpi" />
	<splash src="res/screen/android/drawable-land-xhdpi-screen.png" platform="android" density="land-xhdpi" />
	<splash src="res/screen/android/drawable-land-xxhdpi-screen.png" platform="android" density="land-xxhdpi" />
	<splash src="res/screen/android/drawable-land-xxxhdpi-screen.png" platform="android" density="land-xxxhdpi" />
	--><!-- -->

		<access origin="*"/>
		<allow-navigation href="*" />
		<allow-intent href="tel:*" />
    	<allow-intent href="sms:*" />
    	<allow-intent href="mailto:*" />
    	<allow-intent href="geo:*" />
		<allow-intent href="market:*" />
	</widget>
